:root {
    --name: Quarte;
    --text-color: #fff;
    --back-color: #fff3;
    --over-color: #fefefe;
    --popup-text-color: #000000;
    --border: none;
    --pasxalka: https://youtu.be/qAD2Qq_VS0M;
    --has-pasxalka-work: 'true';
}
